<h2>Request Basico</h2>
<button class="btn btn-primary" (click)="makeSingleRequest()">Hacer request</button>
<div *ngIf="loading">Cargando...</div>
<pre *ngIf="data">
  {{data | json}}
</pre>
<ul>
  <li *ngFor="let item of data">
    {{item | json}}
  </li>
</ul>
