<div class="main">
  <h1>
    {{title}}
  </h1>

  <button-single 
    [color]="'primary'" 
    [size]="'medium'" 
    [style]="'rounded'"
    [state]="''"
    [isLoading]="isLoading"
    (click)="onClick($event)"
    (loaded)="onButtonLoaded($event)">
    Mi botón
  </button-single>
  <hr>
  <!-- Built-in directives -->
  <!-- NgIf -->
  <button-single 
    [color]="'info'" 
    [size]="'medium'" 
    [style]="'rounded'"
    [state]="''"
    [isLoading]="isLoading"
    *ngIf="true">
    Mi botón 2
  </button-single>
  <hr>
  <!-- NgSwitch -->
  <div class="container" [ngSwitch]="myVar">
    <div *ngSwitchCase="'A'">Var is A</div>
    <div *ngSwitchCase="'B'">Var is B</div>
    <div *ngSwitchCase="'C'">Var is C</div>
    <div *ngSwitchDefault>
      Var is something else
    </div>
  </div>
  <hr>
  <!-- NgStyle -->
  <!-- [style.prop]="expression" -->
  <div [ngStyle]="{color: 'red'}">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto eos in quisquam omnis itaque iste nisi repellendus illum? Asperiores quos qui omnis, vero culpa adipisci quis ducimus vel labore repudiandae.
  </div>
  <hr>
  <!-- NgFor -->
  <!-- *ngFor="let item of items" -->
  <ul>
    <li *ngFor="let order of myOrders">
      <a href="{{order.link}}">
        {{order.id}} - {{order.name}} by {{order.author}}
      </a>
    </li>
  </ul>
  <hr>
  <!-- NgNonBindable -->
  <fieldset>
    <legend>Orden #1 del arreglo</legend>
    <p>{{myOrders[0].name}}</p>
    <pre ngNonBindable>
      Se usa de esta forma:
      {{myOrders[0].name}}
    </pre>
  </fieldset>
</div>



