<div class="container">
  <h1>My voting app</h1>
  <form class="ui large form segment">
    <h3 class="ui header">Add a link</h3>
    <div class="field">
      <label for="title">Title:</label>
      <input type="text" name="title" #newTitle>
    </div>
    <div class="field">
      <label for="title">Link:</label>
      <input type="text" name="link" #newLink>
    </div>
    <div class="actions">
      <button class="ui positive right floated button" (click)="addArticle(newTitle, newLink)">
        Submit link
      </button>
    </div>
  </form>
  <hr>
  <div class="ui grid posts">
    <article-single *ngFor="let item of sortedArticles()" [article]="item"></article-single>
  </div>
</div>
