<form [formGroup]="loginForm" (submit)="onSubmit(email, password)" novalidate>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      placeholder="Enter email" [formControl]="loginForm.controls['email']" #email>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
      [formControl]="loginForm.controls['password']" #password>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input">
      Check me out
    </label>
  </div>
  <div *ngIf="formSubmitted && loginForm.invalid" class="alert alert-danger" role="alert">
    {{formAlertMessage}}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
