<h1>
  Search
</h1>

<p>
  <input type="text" #newquery [value]="query" (keydown.enter)="submit(newquery.value)">
  <button (click)="submit(newquery.value)">Search</button>
</p>

<div class="search-results" *ngIf="results">
  <div *ngIf="!results.length">
    No tracks were found with the term '{{ query }}'
  </div>

  <div *ngIf="results.length">
    <h1>Results</h1>
    <ul>
      <li *ngFor="let item of results">
        <img src="{{item.album.images[0].url}}" class="track-thumbnail">
        <h3 class="track-artist"><a>{{item.artists[0].name}}</a></h3>
        <div class="track-name"><a>{{item.name}}</a></div>
        <div class="track-album-name"><a>{{item.album.name}}</a></div>
      </li>
    </ul>
  </div>
</div>
