<div class="master-container">
  <form [formGroup]="myForm">
    <label for="product">Product name</label>
    <input type="text" name="product" id="product" [formControl]="myForm.get('productName')"
      [(ngModel)]="productName" required>
    <p class="alerts" *ngIf="myForm.invalid && myForm.dirty">
      Diligencie los campos requeridos
    </p>
    {{ productName }}
    <button type="submit" (click)="onSubmit(myForm.value, $event)">Submit</button>
  </form>
  
  <hr>
  
  <!-- <form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input">
        Check me out
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> -->
</div>
